snippet latex "Latexmkrc config template"
# make build reproducible
$ENV{'SOURCE_DATE_EPOCH'}='`date +%s`';
# $ENV{'FORCE_SOURCE_DATE'}='1';		# also replace values of e.g. \today


$pdf_mode = 1;

# $preview_continuous_mode = 1;

# $pdflatex = 'xelatex --shell-escape -interaction=nonstopmode -synctex=1 %O %S';
$pdflatex = 'pdflatex --shell-escape -interaction=nonstopmode -synctex=1 %O %S';

$use_make_for_missing_files = 1;
endsnippet
